.feed__card {
    width: 90%;
    height: 350px;

    margin: 5% 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    transition: width 2s, height 2s;
}

.feed__card:hover {
    width: 95%;
    height: 400px;
}

.card__image {
    width: 100%;
    height: 50%;

    background: rgba(255, 255, 255, 0.1);
}

.card__content {
    padding: 2%;
    width: 100%;
    max-height: 50%;
}

.content {
    width: 100%;
}

.content__categorie {
    color: #00a5f1;
    font-weight: 300;
    text-transform: uppercase;
}
.content__categorie, .content__descript {
    display: block;
    margin: 2% 0;
}

.content__descript, .content__title {
    display: block;

    width: 100%;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.content__autor {
    margin: 5% 0;

    display: flex;
    align-items: center;

    padding: 2%;
}

.content__autor img {
    width: 24px;
    border-radius: 50%;
}

.autor__information {
    margin: 0 5%;
}

.autor__information span {
    color: #00a5f1b0;
    font-weight: bold;
}